body{
	background:url('../images/bgimage1.jpg');
}
#cont{
	height:auto;
	width:90%;
	margin:auto;
	border:1px solid #00ff00;
	border-radius:10px;
	

}
fieldset{
	width:auto;
	height:auto;
	border-radius:10px;
	border:2px solid #000000;
	margin:auto;
	text-align:center;
}

input[type=text],input[type=email], input[type=password],input[type=date],input[type=select],input[type=time]{
	width:180px;
	height:25px;
	padding-left:5px;
	border:1px solid #a6caf0;
	border-radius:5px;
	color:#800080;
}

#menu{
	width:100%;
	height:7%;
	background:greenyellow;
	border:1px dashed #666666;
	border-bottom:2px double #333;
	
}
#menu ul{
	list-style:none;
}
#menu a{
	text-decoration:none;
	text-align:center;
	padding-left:10px;
	color:#0000ff;
	padding-right:10px;
}
#menu ul li a:hover{
	color:#ff80ff;
}
#menu ul li{
	float:left;
	border-left:1px solid #008000;
	border-right:1px solid #008000;
	margin-left:5px;
	padding-right:5px;
}
#menu a:active { text-decoration: none; color:#ff0000 }
#header{
	width:100%;
	height:25%;
	margin-top:0;
	background:URL('../images/logo1.jpg');
	border:1px solid #180df7;
	border-top-left-radius:10px;
	border-top-right-radius:10px;

}
#submenu{
	height:93%;
	width:20%;
	margin-top:2px;
	background:yellowgreen;
	border-radius:10px;
	float:left;
	
	}
#submenu ul{
	list-style:none;
}
#submenu a{
	text-decoration:none;
	text-align:center;
	padding-left:10px;
	color:#0000ff;
	padding-right:10px;
	
}
#submenu ul li a:hover{
	color:#ff80ff;
}
#submenu ul li{
	float:left;
	
}
#submenu ul li a:active{
 color:#00ff00;
}
#submenu ul li:visited{
	
}

#submenu1{
	height:100%;
	width:19.5%;
	margin-top:2px;
   	background:yellowgreen;
	border-radius:10px;
	float:left;
	
	}
#submenu1 ul{
	list-style:none;
}
#submenu1 a{
	text-decoration:none;
	text-align:center;
	padding-left:10px;
	color:#0000ff;
	padding-right:40px;
	
}
#submenu1 ul li a:hover{
	color:#ff80ff;
}
#submenu1 ul li{
	float:left;
	
}
#submenu1 ul li a:active{
 color:#00ff00;
}
#submenu1 ul li:visited{
	
}

#content{
	height:100%;
	width:auto;
	margin-top:2px;
	margin-left:20%;
	background:#efefef;
	border-radius:10px;
}
#msg{
	height:22px;
	width:100%;
	background:#a6caf0;
	padding-top:1px;
}
#prof{
	height:100%;
	width:80%;
	margin-left:20%;
	margin-top:2px;
	background:#dadada;
	border-radius:10px
}
#logger{
	width:auto;
	height:auto;
	text-align:center;
	color:#0000ff;
	background:#c0dcc0;
	border:1px solid #000080;
	border-radius:5px;
	border:200px;
}

#line{
	width:auto;
	height:auto;
	text-align:center;
	color:#000000;
	background:#c0c0c0;
	border:1px solid #808080;
	border-radius:5px;
}
#photo{
	float:left;
	margin-top:20px;
	margin-left:20px;
	width:200px;
	height:200px;
	border:1px solid #666666;
}

label{
	color:#000000;
	font-size:15;
	font-style:bold;
	padding-left:10px;
}
legend{
	color:#008000;
	
	
}
#submit{
	height:auto;
	width:150px;
	padding-top:20px;
	margin:auto;
;
}
#footer {
	width:100%;
	height:7%;
    background:URL('../images/banner.jpg');
	/*background:#c0dcc0;*/
	border:1px solid #666666;
	border-bottom:2px double #333;
	border-radius:5px;
	text-align:center;
	padding-top:4px;
	font-size:25px;
	font-family:Helvatica;
	color:#800080;
}

/* Table style */
.mytable table,td,tr{
	border-collapse:collapse;
	padding:7px;
    	
    
}
.mytable table{
	border:1px #000 dotted;
	width:80%;	
	background:#FFF;
	height:auto;
	margin:auto;
	box-shadow:3px 3px 9px #000;
}
.mytable th{
	background:#000;
	color:#FFF;
	font-weight:bold;
	padding:5px;
	/*box-shadow:3px 3px 9px #000;*/
}
.mytable td{
	border:1px #000 dotted;	
}
.mytable tr:hover{
	/*box-shadow: 3px 3px 5px #000;*/
	background-color:#09F;	
	color:#FFF;
}
